#! /bin/bash
## ETJAKEOC Youtube Downloader *sh.rc file. Source this in your user .*rc file to have quick access to the program.
yts='~/git/YTDLS' # Sets Youtube script directory, scripts live.

alias YTdl=$yts'/SCRIPT/FETCH.sh'
alias YTdl1=$yts'/SCRIPT/FETCH.one.sh'
alias covYT=$yts'/SCRIPT/COV.sh'
